footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.footer-text {
    margin: 2px 0;
  }

  main{
    padding-top: 200px;
  }

  /* fix button to the top-right of the page */
  #mode-button {
    position: fixed;
    top: 0;
    right: 0;
  }

    /* all the stuff below makes the color 'dark' by default
  thiss also includes the background-color statement in line 18, inside the main
  */

  body {
    background-color: #fff; /* default light mode background color */
    color: #333; /* default light mode text color */
  }

  .header-footer {
    background-color: #f5f5f5;
    color: #666666;
  }

  .dark {
    background-color: #222222;
    color: #ffffff;
  }

  .dark-header-footer{
    background-color: #0a0a0a;
    color: #ebebeb;
  }
  
