footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.footer-text {
  margin: 2px 0;
}

/* edits the top paddding onn the jumbotron
  decrease px size to move jumbotron text closer to navbar */
main{
  padding-top: 200px;
}

/* fix button to the top-right of the page -- legacy now
.top-right {
  position: fixed;
  top: 0;
  right: 0;
} */

/* make edits to the 'Dark/Light Mode' button */
.Topbar-nav-links .top-right button {
  display: inline-block;
  margin-left: auto;
}

/* make edits to the navigation bar */
.Topbar-nav-container {
  height: 30px;
}