/* applies to any .card-img-top element nested innside "card mb-4" */

.card.mb-4 > .card-img-top {
  height: 26vmin;
  object-fit: cover;
  object-position: 100% center;
}

.scroll-container{
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  user-select: none;
}


/* Hide scrollbar for container */
.container::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

.container::-webkit-scrollbar-track {
  background-color: transparent;
}

.container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scroll-container::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}